*.sw[op]
vivado.log
vivado.jou
*~
*#
dm1/
dm6/
**/.Xil
**/.pc
petalinux/ultra96_trd/
ultra96_trd.dsa
workspaces/ws_f2dof/build/
workspaces/ws_f2dof/lib/
sdsoc/sysroot/
sdsoc/output/
sdsoc/sdx_pid*.str
sdsoc/Packages/
sdsoc/workspace/
sdsoc/resources/a53_linux/boot/bl31.elf
sdsoc/resources/a53_linux/boot/fsbl.elf
sdsoc/resources/a53_linux/boot/pmufw.elf
sdsoc/resources/a53_linux/boot/u-boot.elf
sdsoc/resources/a53_linux/image/image.ub
sdsoc/resources/prebuilt/bitstream.bit
sdsoc/resources/prebuilt/ultra96_trd.hdf
